<!doctype html>
<html>

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Contacts App</title>
    <meta http-equiv="Cache-control" content="public">

    <link rel="stylesheet" href="frontend/styles/bootstrap.min.css" >

    <!-- jQuery library -->
    <script src="frontend/scripts/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="frontend/scripts/bootstrap.min.js"></script>
    <script src="frontend/scripts/angular.min.js"></script>
    <script src="frontend/scripts/angular-route.min.js"></script>
    <script src="frontend/scripts/script.js"></script>

</head>

<body>

<div class="global-wrapper" ng-app="myApp">

    <!-- nav section -->
    <nav class="navbar navbar-default" ng-controller="navCtrl">
        <div class="container-fluid">
            <div class="nav-header">
                <a href="#" class="navbar-brand hidden-xs">Contacts App Angular Exercise</a>
                <ul class="nav navbar-nav">
                    <li ng-repeat="navLink in nav.navItems" ng-class="{active : $index === nav.selectedIndex}">
                        <a class="text-center" ng-click="nav.navClick($index)" ng-href="#/{{navLink}}">{{navLink|uppercase}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="tabViewCtrl">
        <div ng-if="!showMessageTab" class="row panel panel-primary" ng-controller="homeCtrl">
            <div class="panel-heading">
                <h2 class="panel-title">Contact list app</h2>
            </div>
            <!--     contact list   	 -->
            <div class="col-xs-5 panel-body">
                <h4>Contacts:</h4>
                <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="searchText">
                <ul class="list-group" style="height: 50vh;overflow-y: auto;">
                    <li class="list-group-item">
                        <!--      template used for the ng-repeat in the contact list        -->
                        <contact class="list-group-item"
                                 ng-repeat="contact in contacts| orderBy: 'name' | filter: searchText "></contact>
                    </li>
                </ul>
            </div>
            <!--   ng-view below       -->
            <div class="col-xs-7">
                <div class="list-group panel-body">
                    <div ng-view></div>
                </div>
            </div>

        </div>
        <div ng-if="showMessageTab" class="row panel panel-primary" ng-controller="messagesDataCtrl">
            <div class="panel-heading">
                <h2 class="panel-title">Messages List</h2>
            </div>

            <!--   ng-view below       -->
            <div class="col-xs-12">
                <div class="list-group panel-body">
                    <div ng-view></div>
                </div>
            </div>

        </div>
    </div>


    <!--  html templates used by angular, usually in separate files -->
    <script type="text/ng-template" id="default.html">
        <div class="alert alert-success text-center" ng-class="{hidden : !removed}"> {{removed}}</div>
        <div class="list-group-item text-center">Please select a contact to view</div>
    </script>

</div>

</body>

</html>
